*/partition_temp/
linux-5.9.6
linux-5.9.6.tar.xz
ubuntu-16.04.1-desktop-amd64.iso
VSSIM/
huffman_stuffs/tmp*
huffman_stuffs/random_data
huffman_stuffs/SSD_HuffmanDynamicCoding/
my_Huffman_backup_20201024/
my_work/
old_/tmp*
*.csv
*.o

